<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/32592e3f-022a-4d6d-bbc9-576ec795c4ce/resourcegroups/MojeZasoby/providers/Microsoft.ContainerRegistry/registries/EphosBlazorProject20200120011026</ResourceId>
    <ResourceName>EphosBlazorProject20200120011026</ResourceName>
    <ResourceGroup>MojeZasoby</ResourceGroup>
    <Subscription>Bezpłatna wersja próbna</Subscription>
    <RegistryUrl>https://ephosblazorproject20200120011026.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4fa525ac-5fd7-4785-bb89-7c747c3a302c</ProjectGuid>
  </PropertyGroup>
</Project>